@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bg-white-color: #ffffff;
  --icons-color: #afb1b8;
  --btn-hover: #188ce8;
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

body {
  margin: 0, auto;
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.button {
  margin-top: 0;
  padding: 10px 32px;
  color: var(--bg-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: var(--bg-white-color);
  background-color: var(--btn-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button--send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
}

.button--subscribe {
  position: relative;
  width: 200px;
  height: 100%;
  padding: 10px 29px;
  text-align: left;
  font-weight: 700;
}

.button--subscribe::after {
  content: "";
}

.button__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

.logo,
.logo__span {
  font-family: var(--secondary-font);
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;
}

.logo__footer {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
}

.logo__span--footer {
  color: var(--bg-white-color);
}

.logo__header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__span--header {
  color: var(--title-text-color);
}

.header {
  background-color: var(--bg-white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation .header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
}

.header__navigation {
  margin-left: 93px;
}

.header__item {
  margin-right: 50px;
}

.header__list > .header__item:last-child {
  margin-right: 0;
}

.header__list {
  margin-left: auto;
}

.header__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:hover, .header__contacts:focus {
  color: var(--accent-color);
}

.header__link--active {
  position: relative;
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__link--active::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.header__svg {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__svg:hover, .header__svg:active {
  fill: var(--accent-color);
}

.hero-section {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-section/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: #2f303a;
  text-align: center;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;
  color: var(--bg-white-color);
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal__container {
  transform: translate(-50%, -50%) scale(0);
}

.modal__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--bg-white-color);
  border-radius: 4px;
}

.modal__title {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: justify;
  color: var(--title-text-color);
}

.modal__thumb {
  position: relative;
  display: block;
  width: 100%;
}

.modal__value {
  /* outline: 1px solid green; */
  display: block;
  margin-bottom: 4px;
  text-align: left;
}

.modal__item {
  outline: transparent;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__item:hover, .modal__item:focus, .modal__item:active {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal__item:not(:last-child) {
  margin-bottom: 10px;
  width: 100%;
}

.modal__item:last-child {
  margin-bottom: 20px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 45%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__item:hover + .modal__icon,
.modal__item:focus + .modal__icon,
.modal__item:active + .modal__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__btn-close:hover .modal__icon-close,
.modal__btn-close:focus .modal__icon-close {
  fill: var(--accent-color);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: currentColor;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close:hover, .modal__icon-close:focus {
  fill: var(--accent-color);
}

.modal__feedback {
  display: block;
  width: 448px;
  height: 120px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  width: 100%;
  resize: none;
  padding: 12px 16px;
  color: var(--title-text-color);
}

.modal__feedback::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  /* border: 1px solid red; */
}

.modal__agreement {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.modal__agreement:checked + .modal__vector > .modal__check-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  fill: var(--bg-white-color);
}

.modal__check-icon {
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  fill: transparent;
  /* background-color: yellowgreen; */
}

.modal__check-text {
  line-height: 1.7;
  color: var(--primary-text-color);
}

.modal__check-document {
  color: var(--accent-color);
}

.text-section {
  padding-bottom: 0;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature__text {
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  width: 270px;
  margin-right: 30px;
}

.feature__item:last-child {
  margin-right: 0;
}

.feature__svg {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.picture__item {
  position: relative;
  margin-right: 30px;
  margin-left: 0;
  margin-top: 0;
  height: 294px;
}

.picture__item:last-child {
  margin-right: 0;
}

.picture__descr {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 27px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: #f5f4fa;
}

.team__list .team__item {
  margin-right: 30px;
  margin-left: 0;
}

.team__list .team__item:last-child {
  margin-right: 0;
}

.team__photo {
  margin-top: 0;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__exposition {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__profession {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks__item {
  margin-right: 10px;
}

.social-networks__item:last-child {
  margin-right: 0;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--bg-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover, .social-networks__link:active {
  color: var(--bg-white-color);
  background-color: var(--accent-color);
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__logo {
  overflow: hidden;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo:hover, .clients__logo:focus {
  border-color: var(--accent-color);
}

.clients__logo:last-child {
  margin-right: 0;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
  width: 170px;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  background-color: var(--bg-white-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-content: center;
  align-items: baseline;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

.footer__address {
  margin-right: 70px;
}

.footer__list {
  flex-direction: column;
  font-style: normal;
  line-height: 1.17;
}

.footer__item {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer__map {
  color: var(--bg-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__map:hover, .footer__map:focus {
  color: var(--accent-color);
}

.footer-links {
  margin-right: 93px;
}

.footer-links__title,
.footer-subscribe__title {
  color: var(--bg-white-color);
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* модификатор для иконок футера */
.social-networks__link--footer {
  background: rgba(255, 255, 255, 0.1);
}

.footer-subscribe__item {
  display: inline-block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--bg-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe__item:hover, .footer-subscribe__item:focus, .footer-subscribe__item:active {
  color: var(--bg-white-color);
}

.footer-subscribe__item::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.filter-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter_btn {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter_btn:hover, .filter_btn:active {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--bg-white-color);
}

.filter_btn:last-child {
  margin-right: 0;
}

.filter_btn:last-child {
  margin-right: 0;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio__item:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__item:hover .portfolio__description {
  transform: translateY(0);
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--bg-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
}

.portfolio__img {
  margin-top: 0;
}

.portfolio__inner {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__products {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;
}

.portfolio__type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
}
/*# sourceMappingURL=main.css.map */