.header {
  background-color: var(--bg-white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__navigation .header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
}

.header__navigation {
  margin-left: 93px;
}

.header__item {
  margin-right: 50px;
}

.header__list > .header__item:last-child {
  margin-right: 0;
}

.header__list {
  margin-left: auto;
}

.header__link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contacts {
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__link--active {
  position: relative;
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__link--active::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__contacts {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.header__svg {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active {
    fill: var(--accent-color);
  }
}
