:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bg-white-color: #ffffff;
  --icons-color: #afb1b8;
  --btn-hover: #188ce8;

  // цвет кнопки при ховере/фокусе

  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway;
}
